body{
  text-align: center;
  background-color: #333;
  color: #1d31c1;
}

.wrapper{
  padding: 20px;
}

li{
  list-style: none;
}

.pics_list{
  display: flex;
  flex-wrap: wrap;
  gap: 2px;
  margin: 20px auto;
  max-width: 1000px;
}

.pics_list li{
  width: calc(20% - 2px);
  aspect-ratio: 1 / 1;
}

.pics_list li a{
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgb(94, 23, 180);
}


.pics_list li img{
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;

  display: none;
}

h2 {
  position: relative;
  text-align: center;
  border: 2px solid #000;
  background: #fff;
}

h2:before,
h2:after {
  position: absolute;
  content: '';
}

h2:before {
  top: -40px;
  left: calc(50% - 40px);
  width: 80px;
  height: 80px;
  border: 2px solid #000;
  border-radius: 50%;
  background: #fafafc;
}

h2:after {
  top: 4px;
  left: 4px;
  width: calc(100% - 8px);
  height: calc(100% - 8px);
  border: 2px dashed #000;
  background: #fff;
}

h2 i {
  font-size: 24px;
  font-size: 2.4rem;
  line-height: 60px;
  position: absolute;
  z-index: 2;
  top: -40px;
  left: calc(50% - 40px);
  width: 80px;
  height: 60px;
  text-align: center;
}

h2 span {
  position: relative;
  z-index: 1;
  display: block;
  padding: 1.5rem;
}

h2 span:before,
h2 span:after {
  position: absolute;
  content: '';
}

h2 span:before {
  top: -34px;
  left: calc(50% - 34px);
  width: 68px;
  height: 40px;
  border: 2px dashed #000;
  border-radius: 50vw 50vw 0 0;
}

h2 span:after {
  position: absolute;
  top: 4px;
  left: calc(50% - 32px);
  width: 64px;
  height: 10px;
  background: #fff;
}

.title {
  display: flex;
  overflow: hidden;
  color: #aa8f7b;
  font-family: 'Josefin Sans', sans-serif;
}

.title span {
  display: block;
  transform: translate(0, 105%);
  transition: transform cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
}

.title.-visible span {
  transform: translate(0, 0);
}

.title span:nth-child(2) {
  transition-delay: 0.06s;
}
.title span:nth-child(3) {
  transition-delay: 0.12s;
}
.title span:nth-child(4) {
  transition-delay: 0.18s;
}
.title span:nth-child(5) {
  transition-delay: 0.24s;
}
.title span:nth-child(6) {
  transition-delay: 0.30s;
}
.title span:nth-child(7) {
  transition-delay: 0.36s;
}
.title span:nth-child(8) {
  transition-delay: 0.42s;
}
.title span:nth-child(9) {
  transition-delay: 0.48s;
}
.title span:nth-child(10) {
  transition-delay: 0.54s;
}
.title span:nth-child(11) {
  transition-delay: 0.6s;
}
.title span:nth-child(12) {
  transition-delay: 0.66s;
}
.title span:nth-child(13) {
  transition-delay: 0.72s;
}
.title span:nth-child(14) {
  transition-delay: 0.78s;
}

/****** Base style. ******/
body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  margin: 0;
}

